{{#if view.editMode}}
<form {{action "updateName" on="submit" target="view"}}>
{{view PP.TodoEditNameField valueBinding="view.todoEditName" classNames='todo-edit-name-field'}}
</form>
{{else}}
<a href='#' {{action "toggleEditMode" on="click" target="view"}}>
{{view.todo.name}}
</a>
<a href='#' {{action "toggleComplete" on="click" target="view"}} {{bind-attr class="view.todo.complete:complete:incomplete"}}>
{{#unless view.todo.complete}}
Complete?
{{else}}
Incomplete?
{{/unless}}
</a>
<a class="datepicker" href='#' {{action "changeDate" on="click" target="view"}} {{bind-attr data-date="view.todo.due_at"}} data-date-format='yyyy-mm-dd'>
{{view.dueAt}}
</a>

<a href='#' {{action "togglePriority" on="click" target="view"}} {{bind-attr class="view.todo.priority:high:low"}}>
{{#if view.todo.priority}}
High
{{else}}
Low
{{/if}}
</a>
{{/if}}
