.main
  %header.hdr
    .container
      .hdr-inner
        .cb-table-auto.hdr-logo-cell
          .cb-table-row
            .cb-table-cell
              {{#linkTo 'index' classNames='hdr-logo'}}
              Pepper<strong>Mill</strong>
              {{/linkTo}}
        .cb-table-auto.hdr-user-cell
          .cb-table-row
            .cb-table-cell
              {{#if isLoggedIn}}
              {{#linkTo 'settings' classNames='hdr-user'}}
              .hdr-user-name
                hi,
                %strong {{currentUser.username}}
              {{/linkTo}}
              {{else}}
              <a class="button hdr-button-login" href='' {{action "loginButton" on="click"}}>
              %strong Join
              </a>
              {{/if}}

  {{outlet}}
