
{{#if isLoggedIn}}
{{#linkTo 'settings' classNames='hdr-user'}}
.hdr-user-name
hi,
{{currentUser.username}}
{{/linkTo}}

{{#linkTo 'logout'}}
Logout?
{{/linkTo}}

%hr

{{else}}
<a class="button hdr-button-login" href='' {{action "loginButton" on="click"}}>
%strong Login
</a>
{{/if}}

{{#if error}}
.alert.alert-error
  %h4.alert-header {{error.message}}
  %ul
    {{#each e in error.errors}}
    %li {{e}}
    {{/each}}
%hr
{{/if}}

{{outlet}}
