.login
  .container
    {{#if PP.error}}
    .alert.alert-error
      <a class="icon-x" href='#' {{action "hideErrors" on="click"}}></a>
      %h4.alert-header {{PP.error.message}}
      %ul
        {{#each e in PP.error.errors}}
        %li {{e}}
        {{/each}}
    {{/if}}

    .login-teaser
      %h1
        %span
          Do todos.
        %span
          Like a
          %strong boss.

    <div {{bind-attr class="isSignup::cb-hidden"}}>
    <form {{action "signup" on="submit"}}>
    .form-item
      %label{ for: 'username' } Username
      {{input value=signup_username type="text" placeholder="Username" classNames="input"}}
    .form-item
      %label{ for: 'username' } Email
      {{input value=signup_email type="email" placeholder="Email" classNames="input"}}
    .form-item
      %label{ for: 'username' } Password
      {{input value=signup_password type="password" placeholder="Password" classNames="input"}}
    .form-item
      %label{ for: 'username' } Confirm Password
      {{input value=signup_password_confirmation type="password" placeholder="Confirm password" classNames="input"}}
    .form-action
      {{input class="button button-action button-full" type="submit" value="Join Now"}}
    </form>
    </div>

    <div {{bind-attr class="isSignup:cb-hidden"}}>
    <form {{action "login" on="submit"}}>
    .form-item
      %label{ for: 'login_email' } Username or Email
      {{input value=login_email type="text" placeholder="Username or Email" classNames="input"}}
    .form-item
      %label{ for: 'login_password' } Password
      {{input value=login_password type="password" placeholder="Password" classNames="input"}}
    .form-action
      {{input class="button button-action button-full" type="submit" value="Log In"}}
    </form>
    </div>

    .form-alt-action
      <a class="button button" href="" {{action "toggleSignup" on="click" }}>
      {{#if isSignup}}
      Or log in
      {{else}}
      wanna join?
      {{/if}}
      </a>