<div class='not-found'>
  <div class='container'>
    <div class='not-found-teaser'>
      <h1>
        <span>
          Nothing here.
        </span>
        <span>
          Maybe
          {{#linkTo 'login'}}sign up?{{/linkTo}}
        </span>
      </h1>
    </div>
    <div class='not-found-radar'>
      <span class='icon-radar'></span>
    </div>
  </div>
</div>
