.not-found
  .container
    .not-found-teaser
      %h1
        %span
          Nothing here.
        %span
          Maybe
          {{#linkTo 'login'}}sign up?{{/linkTo}}
    .not-found-radar
      %span.icon-radar

