!!! 5
- conditional_html

%head
  %title PepperMill
  = stylesheet_link_tag 'application'
  %meta{ name: 'description', content: 'Do todos. Like a Boss'}
  = javascript_include_tag "modernizr"
%body

  = yield

  = javascript_include_tag "application"
